
body{
  background-color: white;
  margin: 0; padding: 0;
  }
  body, body::after, body::before
  {
    box-sizing: border-box;
  }

/* image slide css start */
.img-animation .container {
    width: auto;
    height :auto;
    display:flex;
    align-items: center;
    justify-content: center;
     background-color: black;
     margin-top: -10px;
    /* background-image: linear-gradient(135deg, #08151c 0%, #1727d6 50%, #370707 100%); */
}
.swiper
{
    width: 100%;
    height: fit-content;
}
.swiper-slide img{

    width:100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
  color:#f7f3f3 ;
}
.swiper .swiper-pagination-bullet-active {
 
  padding: 5px;
  border-radius: 10px;
  

}
/* image slide css end */





